:root {
    --white: #ffffff;
    --black: #191818;
    --text-primary: #191818;
    --text-secondary: #6c6f77;
    --gray: #F2F2F7;
    --darkgray: #E5E5EA;
    --blue: #2589FF;
}

.html {
    height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
  border-style: none;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--basic-white);
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.container {
    max-width: 1240px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inline-link {
    background-color: var(--gray);
    color: var(--text-primary);
    padding: 4px 8px;
    border-radius: 8px;
}

.sber-bg, .rosbank-bg, .tinkoff-bg {
    position: relative;
    top: 5px;
    transition: all 200ms ease-in-out;
}

.sber-bg {
    /* background-color: rgba(45, 170, 78, .1); */
    background-color: var(--gray);
    /* color: var(--text-primary); */
    display: inline-flex;
    gap: 4px;
    align-items: center;
}

.sber-bg:hover {
    background-color: rgba(45, 170, 78, .2);
    transform: translateY(-2px);
}

.rosbank-bg {
    /* background-color: rgba(233, 1, 24, .1); */
    background-color: var(--gray);
    /* color: var(--text-primary); */
    display: inline-flex;
    gap: 4px;
    align-items: center;
}

.rosbank-bg:hover {
    background-color: rgba(233, 1, 24, .2);
    transform: translateY(-2px);
}

.tinkoff-bg {
    /* background-color: rgba(255, 216, 0, .1); */
    background-color: var(--gray);
    /* color: var(--text-primary); */
    display: inline-flex;
    gap: 4px;
    align-items: center;
}

.tinkoff-bg:hover {
    background-color: rgba(255, 216, 0, .25);
    transform: translateY(-2px);
}

.sber-logo {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/company-logos/SberDevices.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rosbank-logo {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/company-logos/Rosbank.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tinkoff-logo {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/company-logos/Tinkoff.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inline-link:hover {
    opacity: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 24px;
    left: 24px;
    right: 24px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 25px;
    z-index: 3;
}

.nav .nav-list {
    display: flex;
    align-items: center;
}

.nav-brand, .nav-item {
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: var(--text-primary);
}

.nav-brand {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.nav-brand:hover {
    opacity: .7;
}

.nav-item {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.nav-item-primary {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 8px;
    color: var(--blue);
    background-color: rgba(37, 137, 255, 0.1);
    border-radius: 25px;
    transition: background-color 200ms ease-in-out;
}

.nav-item-primary:hover {
    background-color: rgba(37, 137, 255, 0.2);
}

.link-flat {
    display: inline-flex;
    background-color: transparent;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.ic {
    display: block;
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.header {
    width: 100%;
    margin-top: 40vh;
    margin-bottom: 100px;
    color: var(--text-primary);
    text-align: center;
}

.header .tags-group {
    justify-content: center;
}

.header .header-title {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    max-width: 60ch;
    margin: 0 auto 20px;
    text-align: center;
}

.header .header-subtitle {
    max-width: 120ch;
    line-height: 1.5;
    margin: 0 auto 0;
    text-align: center;
}

.preview {
    margin-bottom: 100px;
}

.preview-card {
    background-color: var(--gray);
    border-radius: 50px;
    padding: 50px;
}

.preview-card ul {
    list-style-type: circle;
    margin-left: 24px;
    line-height: 1.5;
}

.card-flat {
    background-color: transparent;
}

.preview-card-title {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 12px;
}

.preview-card-description {
    max-width: 60%;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom:8px;
}

.card-img-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 48px;
}

.screen-mobile {
    display: block;
    height: 600px;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-secondary);
}

.other-projects .projects-list {
    margin-bottom: 0;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 100px;
}

.project-item {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    border-radius: 50px;
    text-align: left;
}

.item-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 30px;
    grid-column: 1/-1;
}

.item-empty .project-description {
    text-align: center;
}

.empty-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    background-color: var(--gray);
    border-radius: 50%;
    margin-bottom: 16px;
}

.memoji {
    width: 80px;
    height: 80px;
}

.inner-wrapper {
    padding: 30px 30px 40px 30px;
}

.project-title {
    font-size: 21px;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 8px;
}

.project-button-link {
    display: block;
    padding: 16px 24px;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    border-radius: 25px;
    transition: background-color 200ms ease-in-out;
}

.project-button-link:hover {
    background-color: #1f7dea;
}

.project-description {
    max-width: 55ch;
    line-height: 1.5;
    color: var(--text-primary);
    margin: 0;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-cut {
    max-width: 25ch;
}

.w-100 {
    max-width: 100%;
}

.project-img {
    min-height: 240px;
    border-radius: 50px 50px 0 0;
    object-fit: cover;
}

.tags-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.tag {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--darkgray);
    color: var(--text-secondary);
    padding: 4px 8px;
    border-radius: 5px;
}

.tag-error {
    background-color: rgba(255, 0, 0, .1);
    color: #FF2D55;
}

.project-company {
    display: flex;
    gap: 8px;
    align-items: center;
}

.company-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-secondary);
    padding-left: 2px;
    margin-bottom: 8px;
}

.company-img {
    display: block;
    width: 20px;
    height: 20px;
}

.img-hayes {
    width: 100px;
    height: auto;
}

.company-name {
    display: block;
}

.events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.events-list .project-img {
    height: 314px;
}

.text-bold {
    font-weight: 600;
}

.main {
    margin-bottom: 100px;
}

.footer {
    display: block;
    width: 100%;
    padding: 40px;
    margin-top: auto;
    text-align: center;
}

.footer-title {
    display: block;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 32px;
}

.footer-copy {
    color: var(--text-secondary);
    margin: 0;
}

.link-email {
    transition: all 200ms ease-in-out;
}

.link-email:hover {
    background-color: rgba(37, 137, 255, 0.1);
    color: rgba(37, 137, 255, 1);
}
/* 
@media (max-width: 992px) { 

 } */

 @media (max-width: 768px) { 

    .nav {
        justify-content: center;
        row-gap: 12px;
        background-color: var(--white);
        backdrop-filter: none;
        opacity: 1;
    }

    .nav-brand {
        font-weight: 500;
    }

    .nav-list {
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-item-primary {
        margin-left: 0;
    }

    .projects-list {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .preview-card-description {
        max-width: 100%;
    }

    .events-list {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .card-img-preview {
        flex-wrap: wrap;
    }

    .screen-mobile {
        height: 320px;
    }
}

@media (max-width: 576px) {
    .nav {
        top: 8px;
        left: 8px;
        right: 8px;
    }
    .nav-brand {
        padding: 10px 0 10px 0;
    }
    .nav-item {
        padding: 10px 12px;
    }
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header .header-title {
        font-size: 28px;
        font-weight: 600;
    }
    .project-title {
        margin-bottom: 0;
    }
    .project-button-link {
        margin-top: 16px;
        margin-bottom: 12px;
    }
    .title-wrapper {
        margin-bottom: 10px;
    }
    .tags-group {
        flex-wrap: wrap;
    }
    .main {
        margin-bottom: 50px;
    }
    .item-empty br {
        display: none;
    }
}