:root {
    /* Colors UI */
    --ui-white: #ffffff;
    --ui-gray-100: #F5F5F5;
    --ui-gray-200: #DCDCDC;
    --ui-gray-300: #A9A9A9;
    --ui-lightblue: #F0F2F5;
    --ui-blue-100: #2663FF;
    --ui-blue-200: #0044F2;
    /* Colors text */
    --text-primary: #212121;
    --text-secondary: #555555;
    /* Effects */
    --shadow: 0px 1px 10px rgba(190, 192, 201, 0.15);
}

@font-face {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Switzer-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Switzer-Semibold.woff2") format("woff2");
    font-display: swap;
}

.body {
    background-color: var(--ui-lightblue);
    color: var(--text-primary);
    font-family: "Switzer", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
}

a {
    color: var(--ui-blue-100);
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

a:hover {
    color: var(--ui-blue-200);
}

p {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-content {
    background-color: var(--ui-white);
    max-width: 800px;
    margin: 110px auto;
    padding: 60px 40px;
    box-shadow: var(--shadow);
    border-radius: 32px;
}

.header-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 2px;
}

.header-description {
    color: var(--text-secondary);
}

.about {
    margin-bottom: 24px;
}

.about-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 24px;
}

.about-header img {
    margin-right: 16px;
    border-radius: 50%;
}

.about-header .btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 4px 8px;
    background-color: var(--ui-white);
    color: var(--text-secondary);
    border: 1px solid var(--ui-gray-200);
    border-radius: 8px;
    letter-spacing: 0.01em;
    transition: background-color 200ms ease-in-out;
}

.about-header-content {
    align-self: center;
}

.about-header .btn:hover {
    background-color: var(--ui-gray-100);
}

.ic-download {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/ic_download_24x24.svg);
    background-repeat: no-repeat;
    margin-right: 4px;
}

.nav-pills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 24px 0;
}


.nav-link {
    font-size: 16px;
    line-height: 23px;
    margin-right: 12px;
    margin-bottom: 8px;
    padding: 8px 12px;
    color: var(--text-secondary);
    background-color: var(--ui-white);
    border: 1px solid var(--ui-gray-200);
    border-radius: 8px;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}

.nav-link:hover {
    background-color: var(--ui-gray-100);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--ui-gray-100);
    color: var(--text-primary);
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.tab-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 32px;
}

#pills-writing .tab-content-grid {
    margin-bottom: 0;
}

#pills-contacts .tab-content-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
}

#pills-speaking .tab-content-grid {
    margin-bottom: 0;
}

.card {
    background-color: var(--ui-gray-100);
    border-radius: 20px;
}

.card-description {
    color: var(--text-secondary);
}

.card-body {
    padding: 16px 16px 24px 16px;
}

.card-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 4px;
}

.card-subtitle {
    display: block;
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.card-text {
    color: var(--text-secondary);
    font-size: 16px;
    line-height: 23px;
}

.card img {
    border-radius: 20px 20px 0 0;
    background-color: var(--ui-gray-200);
    filter: grayscale(1);
    transition: filter 250ms ease-in-out;
}

.card img:hover {
    filter: grayscale(0);
}

.card-simple {
    background-color: var(--ui-gray-100);
    padding: 16px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card-simple:last-child {
    margin-bottom: 0;
}

.card-simple .card-title {
    margin-bottom: 0;
}

#pills-contacts .card-simple {
    margin-bottom: 0;
}

#pills-contacts .card-simple a {
    color: var(--text-primary);
}

#pills-contacts .card-simple a:hover {
    color: var(--ui-blue-100);
}

#pills-contacts .card-simple .card-title {
    margin-bottom: 12px;
}

.card-badge {
    display: block;
    color: var(--text-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
}

.card-footer {
    border-top: 1px solid var(--ui-gray-200);
}

.card-footer-link {
    color: var(--text-primary);
    display: block;
    padding: 16px;
    text-align: center;
}

.card-outline {
    background-color: var(--ui-gray-100);
    padding: 24px 16px 0 24px;
    border-radius: 12px;
}

.card-outline .card-title {
    margin-bottom: 12px;
}

@media (max-width: 600px) {
    .nav-link {
        margin-bottom: 12px;
    }
    .page-content {
        margin: 30px auto;
        padding: 50px 30px;
    }

    .tab-content-grid {
        grid-template-columns: auto;
    }

    #pills-contacts .tab-content-grid {
        grid-template-columns: auto;
    }

    .about-header img {
        margin-bottom: 8px;
    }

    .about-header .btn {
        margin-top: 8px;
        margin-left: 0;
    }
    .card img {
        filter: none;
    }
}