:root {
	/* Base palette */
	--base-white: #ffffff;
	--dodger-blue-500: #2589ff;
	--dodger-blue-600: #1b70f5;
	--dodger-blue-700: #145ae1;
	--wild-sand-50: #F9F9F9;
	--wild-sand-100: #ebebee;
	--wild-sand-200: #dbdbe2;
	--wild-sand-300: #c2c3ce;
	--wild-sand-400: #a4a4b6;
	--wild-sand-500: #8f8ea3;
	--wild-sand-600: #807d93;
	--wild-sand-700: #737085;
	--wild-sand-800: #615e6f;
	--wild-sand-900: #504e5a;
	--wild-sand-950: #181819;
	/* Surface */
	--color-surface-primary: var(--base-white);
	--color-surface-elevated: var(--wild-sand-50);
	/* Text */
	--color-text-primary: var(--wild-sand-950);
	--color-text-secondary: var(--wild-sand-800);
	/* Interface */
	--color-ui-accent: var(--dodger-blue-500);
	/* Measures */
	--border-radius: 20px;
	--border-radius-small: 14px;
	/* Transition */
	--animation: 200ms ease-in-out;
	--animation-slow: 350ms ease-in-out;
}

/* General Styles */

.html {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	object-fit: contain;
	border-style: none;
}

.body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--color-surface-primary);
	color: var(--color-text-primary);
	-webkit-font-smoothing: antialiased;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	/* max-width: 1140px; */
	max-width: 87rem;
	padding: 0 1rem;
	margin: 0 auto;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

small {
	color: var(--color-text-secondary);
	font-size: 14px;
}

/* Navigation */

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	padding: 10px 12px 10px 20px;
	font-size: 12px;
	color: var(--color-text-primary);
	background-color: rgb(255 255 255 / 80%);
	border-bottom: 1px solid var(--wild-sand-200);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 3;
	margin: 0 auto;
}

.nav .nav-list {
	display: flex;
	align-items: center;
}

.nav-brand,
.nav-item {
	display: block;
	padding: 12px 20px;
	text-align: center;
	color: var(--color-text-primary);
}

.nav-brand {
	display: flex;
	column-gap: 12px;
	align-items: center;
	padding: 10px 20px 10px 0;
	transition: color var(--animation);
}

.nav-brand:hover {
	color: var(--color-ui-accent);
}

.nav-item {
	border-radius: var(--border-radius-small);
	transition: color var(--animation);
}

.nav-item:hover {
	color: var(--color-ui-accent);
}

.ic {
	display: block;
	width: 24px;
	height: 24px;
}

.ic-avatar {
	background-image: url(/img/metadata/favicon.png);
	background-size: cover;
}

a {
	text-decoration: none;
	transition: color var(--animation);
}

/* Header */

.header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 25vh;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.header .header-title {
	/* font-family: "DM Sans"; */
	font-size: 60px;
	line-height: 1.3;
	text-transform: uppercase;
	max-width: 25ch;
	/* font-weight: 900; */
	font-weight: 700;
	margin-bottom: 1rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #1A1C1F;
}

.header .header-subtitle {
	color: var(--color-text-secondary);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	margin: 0 auto 2rem;
	text-align: center;
	max-width: 80ch;
	color: #1A1C1F;
}

.header-logo-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.header-welcome {
	margin-bottom: 10rem;
}

.header-welcome .header-title {
	max-width: 35ch;
}

.header-welcome .header-subtitle {
	max-width: 73ch;
}

.logo {
	display: block;
	filter: grayscale(1);
	transition: filter var(--animation);
}

.logo:hover {
	filter: grayscale(0.5);
}

/* Projects List */

.section-title {
	font-size: 50px;
	line-height: 1.3;
	font-weight: 600;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.projects-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5rem;
}

.project-item {
	display: block;
	height: 80vh;
	background-color: #F9F9F9;
	border-radius: 2rem;
}

.project-item-sber {
	grid-column: 1 / -1;
	background-color: #1C1C1C;
}

.project-item-sber .project-title {
	color: var(--base-white);
}

.project-item-sber .project-description {
	color: var(--base-white);
	opacity: .7;
}

.project-item-qic-reads {
	grid-column: 1 / -1;
}

.project-item-qic-policy {
	grid-column: 1/-1;
}

.project-item-social-careerum {
	grid-column: 1 / 3;
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: bottom;
}

.project-item-rosbank {
	grid-column: 3 / 5;
}

.project-cover {
	width: 100%;
	margin-top: auto;
}

.articles-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.updates-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.update-item {
	width: 100%;
}

.update-item-single {
	grid-column: 2 / 3;
}

.update-card {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: #F9F9F9;
	padding: 1rem;
	border-radius: var(--border-radius);
	transition: background-color var(--animation);
}

.update-card:hover {
	background-color: #efefef;
}

.update-card-title {
	color: var(--color-text-primary);
	font-weight: 500;
}

.update-card-img {
	display: block;
	width: 96px;
	height: 96px;
	background-color: var(--base-white);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	-webkit-animation: spin 16s linear infinite;
	-moz-animation: spin 16s linear infinite;
	animation: spin 16s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.update-card-img-1 {
	background-image: url('../img/updates/img-update-cover-1.png');
}

.update-card-img-2 {
	background-image: url('../img/updates/img-update-cover-2.png');
}

.update-card-img-3 {
	background-image: url('../img/updates/img-update-cover-3.png');
}

.update-card-img-4 {
	background-image: url('../img/updates/img-update-cover-4.png');
}

.update-card-img-5 {
	background-image: url('../img/updates/img-update-cover-5.png');
}

.update-card-img-6 {
	background-image: url('../img/updates/img-update-cover-6.png');
}

.update-card-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card-align-left {
	padding: 2rem;
	text-align: left;
	justify-content: start;
}

.card-align-right {
	padding: 2rem;
	text-align: right;
	justify-content: end;
}

.project-item-highlight {
	height: 40vh;
}

.tags-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--base-white);
	text-align: center;
	padding: 4px 12px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	border-radius: 6px;
}

.tag-gray {
	/* background-color: var(--wild-sand-100); */
	background-color: #ecedef;
	color: var(--color-text-primary);
}

.project-link {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: var(--color-text-primary);
	padding: 2rem 2rem 0 2rem;
}

.disabled {
	cursor: not-allowed;
}

.project-title {
	/* font-family: "DM Sans"; */
	font-size: 32px;
	margin-bottom: 1rem;
}

.project-description {
	font-size: 1rem;
	line-height: 1.3rem;
	color: var(--color-text-secondary);
	max-width: 81ch;
}

/* Content */

.main {
	display: flex;
	flex-direction: column;
	gap: 7rem;
	margin-bottom: 3rem;
	/* margin: 0 1rem 3rem; */
}

.content-section {
	background-color: #F7F7F7;
	border-radius: 2rem;
	padding: 2rem;
	max-width: 1340px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.content-section-flat .section-title {
	margin-bottom: 1rem;
}

.content-section-flat .section-text {
	font-size: 1rem;
	max-width: 100ch;
}

.preview-img-group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.img-qr {
	width: 35%;
	border-radius: 50px;
	box-shadow: 0px 519.244px 145.89px 0px rgba(0, 0, 0, 0.00), 0px 332.567px 133.34px 0px rgba(0, 0, 0, 0.01), 0px 186.677px 111.379px 0px rgba(0, 0, 0, 0.05), 0px 83.142px 83.142px 0px rgba(0, 0, 0, 0.09), 0px 20.393px 45.493px 0px rgba(0, 0, 0, 0.10);
}

.img-mobile {
	width: 20rem;
}

.img-desktop {
	width: 90%;
	border: 1px solid #dae5ec;
    border-radius: 20px;
}

.test-img {
	display: block;
	background-color: #f5f5f5;
	border-radius: 1rem;
	width: 427px;
	height: 865px;
}

.section-header {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	margin-bottom: 1rem;
}

.section-title {
	font-size: 32px;
	margin-left: 0;
}

.section-body {
	margin-bottom: 3rem;
	font-size: 16px;
}

.section-footer {
	display: flex;
	color: var(--color-text-secondary);
	border-top: 1px dashed var(--wild-sand-400);
	margin-top: auto;
	padding-top: 1rem;
}

/* Contacts */

.contacts {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.contacts a {
	display: flex;
	padding: 8px 13px 8px 13px;
	background-color: #f9f9f9;
	color: var(--color-text-primary);
	text-align: center;
	border-radius: 8px;
	font-size: 1rem;
	transition: background-color var(--animation);
}

.contacts a:hover {
	background-color: #efefef;
}
/* 
.contacts-inner-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */

.contacts-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-left: 1rem;
}

.contact-link {
	display: block;
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	color: var(--dodger-blue-500);
	transition: all var(--animation-slow);
	border-bottom: 1px solid var(--wild-sand-200);
	padding-bottom: 1rem;
}

.contact-link:hover {
	color: var(--dodger-blue-700);
	border-bottom: 1px solid var(--wild-sand-300);
}

.video {
	border-radius: var(--border-radius);
	width: 100%;
	height: 80vh;
}

/* Footer */

.footer {
	display: block;
	width: 100%;
	padding: 40px;
	margin-top: auto;
	text-align: center;
}

.footer-copy {
	color: var(--color-text-secondary);
	margin: 0;
}

/* Responsive Breakpoints */

@media only screen and (max-width: 1200px) {

	.updates-list {
		grid-template-columns: 1fr;
	}

	.update-item-single {
		grid-column: 1/-1;
	}

	.img-desktop {
		width: 100%;
	}

}

@media only screen and (max-width: 992px) {
	.nav {
		justify-content: space-between;
	}

	.header {
		margin-top: 20vh;
		margin-bottom: 7rem;
	}

	.header .header-title {
		font-size: 32px;
	}

	.header .header-subtitle {
		font-size: 16px;
	}

	.projects-list {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.project-item {
		grid-column: 1/-1;
		height: 65vh;
	}

	.preview-img-group {
		flex-direction: column;
		gap: 1rem;
	}

	#qr-sber {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.nav {
		justify-content: center;
	}

	.header {
		margin-bottom: 5rem;
	}

	.img-mobile {
		width: 15rem;
	}

	.update-card {
		flex-direction: column;
    	align-items: flex-start;
	}

	.card-align-right {
		align-items: flex-end;
	}
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 575px) {}

/* End of Responsive Breakpoints */