body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
	color: #292929;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	display: none;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	border: 0;
	outline: 0;
}

small {
    color: #989796;
}